:root {
    --light-color: #bbbbbb;
    --primary-color: #1570d2;
    --secondary-color: #4d0b9c;
    --dark-color: rgb(21,38,76);
    --disabled-color: rgba(187,187,187, 0.5);
    --background-color: #13203e;
    --danger-color: #bf4040;
    --success-color: #40bf4a;
}
ul {
    margin: unset;
}
body {
    background-color: var(--background-color);
    color: var(--light-color);
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 1.6em;
}
#nav-bar {
    background-color: var(--dark-color);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
#nav-bar .item {
    text-align: center;
    color: var(--primary-color);
    padding: 5px;
}

#nav-bar .item:hover, #nav-bar .item.active {
    background-color: var(--secondary-color);
    color: var(--light-color);
}
#container {
    margin: 0 auto;
    max-width: 800px;
    position: relative;
}
h1 {
    font-size: 2em;
    text-align: center;
    color: var(--primary-color);
}
.program {
    font-size: 0.9em;
}
.title {
    font-size: 1em;
}
h2, .program {
    color: var(--primary-color);
}
h2{
    overflow: hidden;
    text-align: center;
    margin: 0 auto 20px auto;
}
h2:before,
h2:after {
  background-color: var(--primary-color);
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
h2:before {
  right: 0.5em;
  margin-left: -50%;
}
h2:after {
  left: 0.5em;
  margin-right: -50%;
}
main {
    margin-top: 100px;
}
.label, .form-group label {
    display: inline-block;
    width: 200px;
    color: var(--primary-color);
}
.value, .form-group input, .form-group select, .choice, .filter select, .filter .js-datepicker {
    height: 40px;
    box-sizing: border-box;
    font-size: unset;
}
.value, .form-group input, .form-group select {
    width: calc(100% - 206px);
}
input.value, .choice {
    color: #444;
}
.form-group {
    margin-bottom: 10px;
}
.form-group .label, .form-group .value, .video-detail .label, .video-detail .value {
    display: inline-block;
    vertical-align: top;
}
.form-group .select2-container {
    left: -5px;
}
ul {
    padding-inline-start: 0px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--light-color);
}
a.li-btn, .btn-circle {
    padding: 0 10px;
    display: block;
    background-color: var(--dark-color);
}
li > a.li-btn:hover {
    background-color: var(--background-color)
}
.btn {
    display: inline-block;
    padding: 10px;
    line-height: 15px;
    color: var(--dark-color);
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    font-size: 1em;
}
.alert-danger {
    color: var(--danger-color);
}
.success {
    color: var(--success-color);
}
.primary {
    background-color: var(--primary-color);
}
.badge {
    height: 25px;
    line-height: 25px;
    width: 25px;
    border-radius: 50%;
    font-size: .8em;
    color: var(--dark-color);
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
.badge.alert-danger {
    background-color: var(--danger-color);
}
.badge.success {
    background-color: var(--success-color);
}
.btn {
    background-color: var(--background-color);
}
.btn:not(.disabled):hover, .btn.active, .btn-circle:hover, .btn-circle.active {
    background-color: var(--secondary-color);
    color: var(--light-color);
}
.btn-primary {
    background-color: var(--primary-color);
}
.btn-light {
    background-color: var(--light-color);
}
.btn-alert-danger {
    background-color: var(--danger-color);
}
.block {
    background-color: var(--dark-color);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.block-body {
    max-height: calc(100vh - 300px);
    overflow: auto;
}
.block-footer {
    text-align: right;
    margin-top: 20px;
    position: relative;
}
img {
    width: 100%;
}
.btn-circle {
    background-color: var(--primary-color);
    border-radius: 100%;
    height: 55px;
    width: 55px;
    line-height: 55px;
    margin:20px;
    box-sizing: border-box;
}
.btn-circle .icon {
  font-size: 1.7em;
}
.btn-xl span {
    vertical-align: middle;
    line-height: 25px;
}
.search-wrapper {
	position: relative;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	background-color: var(--primary-color);
	display: inline-block;
	vertical-align: middle;
    border: none;
    padding: 0;
    color: var(--light-color);
}
.search-input {
    display: inline-block;
    width: calc(100% - 48px);
    height: 40px;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 1.3em;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}
.select2-container .select2-selection--single {
    height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 10px 8px 0 8px;
    margin-left: -10px;
    margin-top: 2px;
}
.video-list-filter .select2-container {
    min-width: 100% !important;
}
#videoList {
    height: calc(100vh - 300px);
    overflow-y: scroll;
}
li {
    margin-bottom: 10px;
}
.row {
    width: 100%;
    display: grid;
}
.video-detail {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas: "video-detail thumbnail"
}
.video-list {
    grid-template-columns: 1fr 3fr 2fr 3fr 2fr 2fr;
    grid-gap: 10px;
}
.video-list-filter {
    grid-template-columns: 4fr 3fr 3fr 3fr 1fr 1fr;
    grid-gap: 10px;
}

.log-list-filter {
    grid-template-columns: 3fr 3fr 3fr 1fr 1fr;
    grid-gap: 10px;
}
.log-list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.col-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.disabled:active {
    pointer-events: none;
}
.status-download {
    float: left;
}
.status-download > * {
    vertical-align: middle;
}
.status-download > *:not(:last-child) {
   margin-right: 10px;
}
.status-download .value {
    width: unset;
}
.video-detail {
    grid-area: video-detail;
}
.thumbnail-container {
    position: relative;
    grid-area: thumbnail;
}
.thumbnail-container a {
    position: absolute;
    top: -10px;
    right: -20px;
}
input:disabled {
    background-color: var(--disabled-color);
}
input:disabled:hover {
    cursor: not-allowed;
}
.hidden {
    display: none;
}

.row span {
    overflow: hidden;
}

@media screen and (max-width: 414px) {
    h1 {
        display: none;
    }
    #videoList {
        height: calc(100vh - 180px);
    }
    #nav-bar {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        background-color: var(--background-color);
        z-index: 2;
        grid-template-columns: 1fr;
        text-align: left;
    }
    .btn-circle {
        display: inline-block;
    }
    .form-group .label, .form-group .value {
        display: block;
        vertical-align: unset;
        width: 100%;
    }
    .video-detail {
        grid-template-columns: 1fr;
        grid-template-areas: "thumbnail"
                            "video-detail "
    }
    .col-3 {
        text-align: center;
    }
    .col-3 span {
        display: block;
    }
    .col-3 .badge {
        margin: auto;
    }
    .video-player .btn {
        display: block;
        text-align: center;
    }
    .video-player .btn:not(:last-child) {
        margin-bottom: 20px;
    }
    .modal-dialog {
        width: 100%;
        left: 0px;
        top: 95px;
    }
}