{% extends 'base.html.twig' %}

{% block title %}Programmes{% endblock %}

{% block body %}
    <div class="block">
    <h2>Programmes</h2>
        <div class="block-body">
            <ul>
                {% for program in programs %}
                    <li>
                        <a href="{{ path('program_edit', {'program': program.id}) }}" title="Modifier"
                            data-toggle="modal" data-type="primary">
                            <span class="badge primary icon pencil-alt"></span>
                        </a>
                        <a href="{{ path('program_delete', {'program': program.id}) }}" title="Supprimer"
                            class="modal-trigger" data-toggle="modal" data-type="danger">
                            <span class="badge alert-warning icon times"></span>
                        </a>
                        {{ program.title}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <a href="{{ path('program_edit') }}" class="btn btn-primary" data-toggle="modal" data-type="primary">Ajouter un programe</a>
{% endblock %}
