<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            <link rel="stylesheet" type="text/css" href="/css/fontawesome.css">
            <link rel="stylesheet" type="text/css" href="/css/modal.css">
        {% endblock %}

        {% block javascripts %}
            <script
                src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="/js/select2.min.js"></script>
            <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
            <script src="/js/main.js"></script>
            <script src="/js/modal.js"></script>
        {% endblock %}
    </head>
    <body>
        <div id="container">
            <div id="nav-bar">
                {% set menus = {
                    'dashboard':'Tableau de bord',
                    'video_list':'Videos',
                    'program_list':'Programmes',
                    'channel_list':'Chaînes',
                    'log_list':'Logs'} %}
                {% for route, label in menus %}
                    <a href="{{ path(route) }}" class="item{% if app.request.attributes.get('_route') == route %} active{% endif %}">{{ label }}</a>
                {% endfor %}
            </div>
            <main>
                {% block body %}{% endblock %}
            </main>
        </div>
    </body>
</html>
